@import "tailwindcss";

@theme {
  --color-primary: #7e0c6d;
  --color-background: light-dark(#f7f7f7, #222);

  --color-text: light-dark(#222, #fefefe);
  --color-text-light: light-dark(#888, #ddd);
  --color-border: light-dark(#dde, #333);

  --color-user: #21a0f6;
  /* --default-font-family: "Roboto", sans-serif; */
}

@layer base {
  body {
    @apply bg-background h-screen w-screen text-text flex flex-col;
  }

  div#app {
    @apply contents text-base;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {

  .lshadow {
    @media (prefers-color-scheme: light) {
      @apply shadow-lg;
    }
  }

  .flash {
    @apply overflow-hidden;
  }

  .flash::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.02),
      transparent
    );
    /* transition: left 0.5s; */
  }

  .flash:hover::before {
    left: 100%;
  }
}
